.nutrition-table {
    border: 2px solid black;
    background-color: white;
}

.nutrition-table th {
    border: 1px solid black;
    padding: 0px 2rem;

    /* width: 10rem; */
}

.nutrition-table td {
    border: 1px solid black;
}